
<div class="navbar navbar-fixed-top">

    <div class="container">
        <div class="logo">YoungFront</div>
        <%- menu_html %>
        
        <% if(pkg&&pkg.repository&&pkg.repository.url) {%>
        <div class="forkgithub">
            <a target="_blank" href="<%=pkg.repository.url%>"><i class="fa fa-github"></i> fork on github</a>
        </div>
        <%}%>
    </div>
    
</div>


<% if(index) { %>
<div class="bs-docs-header">
    <div class="container">
        <h1>YFjs</h1>
        <p><%= pkg.description %></p>
        <div class="buttons">
          <a class="btn btn-success">
            <i class="fa fa-download"></i> 下载编译包 <small>v<%=pkg.version%></small>
          </a>
          <a class="btn btn-default" href="<%=pkg.repository.url%>" target="_blank">
            <i class="fa fa-github"></i> GitHub源码
          </a>
        </div>
    </div>
</div>
<% } %>